/* Set the background color of body to tan */
body {
  background-color:#6e2614;
  margin: 0;
  padding: 0;
  max-width: 1750px;
}


/* @media screen and (max-width: 1030px) {
  section {
    background-attachment: scroll;
  }

  * p {
    font-size: 1em;
    left: 30%;
    text-align: center;
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  section:nth-child(2) p {
    left: 0%;
  }

  * p {
    font-size: 1em;
    left: 20%;
    text-align: center;
    top: 0;
    width: 100%;
  }
} */




/* On screens that are 992px or less, set the background color to blue */
/* @media screen and (max-width: 992px) {
  body { */
    /* background-color:blue; */
  /* }
  h1, h2, h3, h4, h5, h6, span {
    font-size: 1em;
  }
} */

/* On screens that are 600px or less, set the background color to olive */
/* @media screen and (max-width: 600px) {
  body {
    margin: 0px;
  }
} */

.parallax {
  -webkit-perspective: 100px;
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  left: 0%;
  right: 0;
  bottom: 0;
}
.parallax img {
  height: 60vh;
  object-fit: cover;
  width: 100vw;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 800px;
  z-index: 2;
}

.parallax__layer__0 {
  -webkit-transform: translateZ(-300px) scale(4);
          transform: translateZ(-300px) scale(4);
}
.parallax__layer__1 {
  -webkit-transform: translateZ(-250px) scale(3.5);
          transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__2 {
  -webkit-transform: translateZ(-200px) scale(3);
          transform: translateZ(-200px) scale(3);
}
.parallax__layer__3 {
  -webkit-transform: translateZ(-150px) scale(2.5);
          transform: translateZ(-150px) scale(2.5);
}
.parallax__layer__4 {
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
}
.parallax__layer__5 {
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
}
.parallax__layer__6 {
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);
}

* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  

  nav {
    z-index: 9999!important;
    position: fixed;
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%,
    #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding-top: 8px;
    padding-right: 149px;
    padding-bottom: 8px;
    padding-left: 149px;
    top: 2%;
    left: 16%;
    width: 69%;  
  }

nav ul {
  width: 
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
  padding-top: 6px;
}

nav ul li a {
  float: left;
  padding: 1em;
  font-family: 'Anonymous Pro', monospace;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding-left: 16px;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: black;
  padding-left: 16px;
}

  section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
  }
  
  img {
    height: 100vh;
    object-fit: cover;
    width: 100vw;
  }
  
  p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    left: 100px;
    position: absolute;
    top: 50px;
  }

  #scene1 span {
    padding: 0.5em;
    padding-top: 0em;
    background-color: #7244bb55;
    font-family: 'Anonymous Pro', monospace;
    color: rgb(255, 255, 255);
    font-size: 32px;
    left: 23%;
    position: absolute;
    top: 70%;
    line-height: 1.5em;
}
  
  h1 {
    z-index: 9999;
    font-family: 'Clicker Script', cursive;
    font-size: 4em;
    position: absolute;
    top: 158px;
    left: 150px;
    color: #d3bda7;
    font-stretch: expanded;
  }

  h4 {
    z-index: 9999;
    font-family: 'Clicker Script', cursive;
    font-size: 2em;
    position: fixed;
    top: 0px;
    left: 8%;
    color: #fff;
    font-stretch: extra-expanded;

  }

  h5 {
    z-index: 9999;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.3em;
    position: absolute;
    top: 500px;
    left: 24%;
    color: #fcb574;
    line-height: 30px;

  }

  h6 {
    z-index: 9999;
    font-family: 'Clicker Script', cursive;
    font-size: 1.5em;
    position: fixed;
    top: -10px;
    left: 80%;
    color: #fff;
    font-stretch: expanded;
  }
  
  section:nth-child(2) p {
    left: 80%;
  }
    #scene2 span {
      font-family: 'Anonymous Pro', monospace;
      color: rgb(255, 255, 255);
      font-size: 25px;
      left: 51%;
      position: absolute;
      top: 47%;
      line-height: 1.5em;
        }

  section:nth-child(3) p {
    left: 80%;
  }
  #scene3 span {
    font-family: 'Anonymous Pro', monospace;
    color: rgb(255, 255, 255);
    font-size: 25px;
    left: 900px;
    position: absolute;
    top: 160px;
  }
  #scene3 p {
    font-family: 'Anonymous Pro', monospace;
    color: rgb(255, 255, 255);
    font-size: 25px;
    left: 880px;
    position: absolute;
    top: 180px;
  }
  
  section:nth-child(4) p {
    z-index: 9966;
    left: 18%;
    top: 33%;
    color: #ea6b4e;
    font-size: 1em;
  }

  section:nth-child(5) p {
    font-size: 1.5em;
    left: 10%;
    top: 15% ;
    color: #fff;
  }
  section:nth-child(6) p {
    left: 10%;
    top: 15% ;
    color: #fff;
  }
  section:nth-child(7) p {
    left: 10%;
    top: 15% ;
    color: #fff;
  }
  section:nth-child(8) p {
    left: 10%;
    top: 15% ;
    color: #fff;
    font-size: 30px;
  }
  section:nth-child(9) p {
    left: 10%;
    top: 15% ;
    color: #fff;
    font-size: 30px;
  }
  section:nth-child(10) p {
    left: 10%;
    top: 15% ;
    color: #fff;
    font-size: 30px;
  }
  section:nth-child(11) p {
    left: 40%;
    color: #fff;
  }
  section:nth-child(12) p {
    left: 40%;
    color: #fff;
  }
  section:nth-child(13) p {
    left: 40%;
    color: #fff;
  }
  section:nth-child(14) p {
    left: 40%;
    color: #fff;
  }

  section:nth-of-type(1){
    background-image: url(images/para-game.gif);
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }

  section:nth-of-type(2) {
    background-image: url(images/street.gif); 
    background-blend-mode: soft-light;
    background-color: #351e09;
    background-size: 100%;
}

  #scene2 img {
    width: 28%;
    position: absolute;
    left: 14%;
    top: 38%;
    height: 258px;
  }
  
  section:nth-of-type(3) {
    background-image: url('images/layers.png');
    background-size: 100%;
    background-position: 0% 0%;
    background-color: #1c4959;
}

  #scene3 img {
      width: 28%;
      position: absolute;
      left: 14%;
      top: 28%;
      height: 550px;
    }
  
  section:nth-of-type(4) {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, #000000 0%, #351255 50%, #ecfd01 100%);
    background-size: 600% 600%;
    -webkit-animation: Gradient 25s cubic-bezier(0.53, 1.05, 1, 1) infinite;
    -moz-animation: Gradient 25s cubic-bezier(0.53, 1.05, 1, 1) infinite;
    animation: Gradient 25s cubic-bezier(0.53, 1.05, 1, 1) infinite;
  }

  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }


section:nth-of-type(5) {
  background-image: url('images/harley-davidson-png-harley-davidson-1200-motorcycle-bike-png-transparent-image-1824.png');
  background-color: #29162b;

}

  section:nth-of-type(6) {
    background-image: url('images/harley-davidson-png-harley-davidson-1200-motorcycle-bike-png-transparent-image-1824.png');
    background-color: #e03f4c;
}

section:nth-of-type(7) {
    background-image: url('images/harley-davidson-png-harley-davidson-1200-motorcycle-bike-png-transparent-image-1824.png');
    background-color: #44cda4;
    /* background-blend-mode: soft-light; */
}
    .code {
        height: 300px;
        width: 30%;
        position: absolute;
        top: 55%;
        left: 57%;
        background-image: url(images/code.jpeg);
        background-repeat: no-repeat;
    }

    .code2 {
      height: 400px;
      width: 30%;
      position: absolute;
      left: 52%;
      top: 42%;
      background-image: url(images/codehtml.jpeg);
      background-repeat: no-repeat;
    }


section:nth-of-type(8) {
    background-image: url('images/harley-davidson-png-harley-davidson-1200-motorcycle-bike-png-transparent-image-1824.png');
    background-color: #2d0f13;
}
.vl {
  position: absolute;
  left: 600px;
  top: 105px;
  border-left: 20px dotted #ffffff5f;
  height: 700px;
}
section:nth-of-type(9) {
  background-image: url('images/harley-davidson-png-harley-davidson-1200-motorcycle-bike-png-transparent-image-1824.png');
  background-color: #2d0f13;
}
section:nth-of-type(10) {
  background-image: url('images/soco-ts.png');
  background-color: #2d0f13;
}

section:nth-of-type(11) {
  background-image: url('images/street.gif');
  background-color: #4cce8d;
}
  .layers1 {
      position: absolute;
      width: 20%;
      background-color: #ab40359F;
      height: 100px;
      top: 700px;
      left: 30%;
      

  }
      .layers1 p {
          font-family: 'Anonymous Pro', monospace;
          color: rgb(255, 255, 255);
          font-size: 34px;
          left: 90px;
          position: absolute;
          top: 0px;
      }

      .layers1 span {
          font-family: 'Anonymous Pro', monospace;
          color: rgb(255, 255, 255);
          font-size: 22px;
          left: 70px;
          position: absolute;
          top: 0px;
          padding: 5px;
      }

      .layers2 {
          position: absolute;
          width: 20%;
          background-color: #ab40359F;
          height: 100px;
          top: 550px;
          left: 50%;
  
      }
          .layers2 p {
              font-family: 'Anonymous Pro', monospace;
              color: rgb(255, 255, 255);
              font-size: 34px;
              left: 90px;
              position: absolute;
              top: 0px;
          }
  
          .layers2 span {
              font-family: 'Anonymous Pro', monospace;
              color: rgb(255, 255, 255);
              font-size: 22px;
              left: 70px;
              position: absolute;
              top: 0px;
              padding: 5px;
          }

          .layers3 {
              position: absolute;
              width: 20%;
              background-color: #ab40359F;
              height: 100px;
              top: 250px;
              left: 74%;
      
          }
              .layers3 p {
                  font-family: 'Anonymous Pro', monospace;
                  color: rgb(255, 255, 255);
                  font-size: 34px;
                  left: 90px;
                  position: absolute;
                  top: 0px;
              }
      
              .layers3 span {
                  font-family: 'Anonymous Pro', monospace;
                  color: rgb(255, 255, 255);
                  font-size: 22px;
                  left: 70px;
                  position: absolute;
                  top: 0px;
                  padding: 5px;
              }

section:nth-of-type(12) {
  background-image: url(images/whispered-world.gif);
  background-color: #73b18f;
  background-size: 30%;
  background-position: 84% 55%;
}
#scene12 ul {
    width: 60%;
    list-style-type:square;
    position: absolute;
    left: 200px;
    top: 300px;
    font-size: 40px;
    font-family: 'Anonymous Pro', monospace;
    color: #ffffff;
}
#scene12 a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Anonymous Pro', monospace;
}

#scene12 a:hover {
  color: #2d0f13;
}
section:nth-of-type(13) {
    background-image: url('');
    background-color: #da6845;
    background-size: 30%;
    background-position: 80% 60%;
}

#scene13 ul {
  width: 80%;
  list-style-type:square;
  position: absolute;
  left: 200px;
  top: 300px;
  font-size: 40px;
  font-family: 'Anonymous Pro', monospace;
  color: #FFFFFF;
}
#scene13 a {
text-decoration: none;
color: #ffffff;
font-family: 'Anonymous Pro', monospace;
}

#scene13 a:hover {
color: #2d0f13;
}
section:nth-of-type(14) {
    background-image: url('images/harley-davidson-png-harley-davidson-1200-motorcycle-bike-png-transparent-image-1824.png');
    background-color: #088546;
}


  
 